html
  overflow-y: auto
.application > main > .container
  min-height: calc(100vh - 100px) !important
  margin: 0 !important
  padding: 0 !important
// FIX Messed Up Active Link Color
.active
  color: #fff !important
.st-green
  background-color: #4fc12a !important;
  border-color: #4fc12a !important;
// USER INFO SIDEBAR
.userinfo
  text-align: center
  color: #fff
  background: #4fc12a
  padding-bottom: 5px
  span
    font-size: 1.4rem
    line-height: 1.5rem
    display: block
// SIDEBAR FOOTER
.sidefooter
  text-align: center
  color: #9E9E9E !important
  a
    text-decoration: none
    color: #9E9E9E !important
  span
    display: block
nav
  color #fff

.material-icons .icon
  color #fff
