#hotel-img
  min-height: 500px
  background-position: center!important
  background-size: cover!important
.hotel-info
  width: 80%
  margin: 50px auto
  text-align: center
  h1
    font-size: 2.5em
    font-weight: 400
  h2
    font-size: 4em
    font-weight: 700
    color: #333
  p
    font-weight: 300
    font-size: 1.5em
